@import 'bootstrap/scss/bootstrap';

$menu-button-color-active: #17a2b8;
$timer-width: 496px;
$timer-note-width: 462px;
$timer-color: #f8f9fa;
$timer-border: #17a2b8;
$timer-control-form-height: 34px;
$toggle-switch-size: 1.4rem;

body {
    width: $timer-width;
    padding: .5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#title {
    margin: 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.App {
    padding: 10px;
}

.menu {
    margin: auto;
    button.btn {
        padding: 0rem 1.2rem 0.3rem;
        &.btn-light {
            border: 1px solid $menu-button-color-active;
            color: $menu-button-color-active;
            &:focus {
                background-color: #f8f9fa;
                box-shadow: 0 0 0 0;
            }
            &:hover {
                background-color: #e9ecef;
            }
        }
        &.btn-info {
            border: 1px solid $menu-button-color-active;
            background-color: $menu-button-color-active;
            color: #ffffff;
            &:focus {
                box-shadow: 0 0 0 0;
            }
        }
    }
    svg {
        height: 1.2rem;
    }
}

.alert {
    margin-top: 10px;
}

.timer {
    width: 100%;
    background-color: $timer-color;
    border: 1px solid #17a2b8;
    border-radius: .3rem;
    padding: 0.5rem 0.5rem 0.6rem;
    .timer-note {
        position: absolute;
        height: 90px;
        width: $timer-note-width;
        background-color: $timer-color;
        z-index: 100;
        h6 {
            margin-bottom: .4rem;
            .name, .close, .trash, .book   {
                display: block;
                float: right;
                padding-bottom: 5px;
            }
            .name {
                width: 286px;
                text-align: center;
            }
            .close, .trash, .book {
                margin: -5px 0 3px 2px;
                cursor: pointer;
                padding: 0 5px 2px;
                color: #212529;
                background-color: #f8f9fa;
                &:hover {
                    background-color: #e2e6ea;
                    border-color: #dae0e5;
                }
            }
        }
        textarea, div.notebook {
            font-size: .8rem;
            height: 64px;
            width: 462px;
            resize: none;
        }
        div.notebook {
            margin: 0;
            border: #dee2e6 1px solid;
            padding: 2px;
            display: inline-block;
            overflow: auto;
        }
    }

    .time {
        float: left;
        color: #000000;
        &.active {
            color: #0d6efd;
        }
    }

    /* Time Pannel */
    .time-pannel {
        height: 33px;
        clear: both;
        &.long .bell{
            padding-right: 35px;
        }
        &.short .bell{
            padding-right: 73px;
        }
        .time {
            font-size: 1.6rem;
        }
        .time-buttons {
            float: right;
            svg {
                font-size: 24px;
                vertical-align: bottom;
            }
            .rounded-circle {
                border-radius: 50%!important;
                width: $timer-control-form-height;
                height: $timer-control-form-height;
            }
            .btn-primary:focus {
                background-color: #0d6efd;
            }
        }
        .bell {
            display: block;
            padding: 7px 70px 5px 10px;
            float: right;
            color: $timer-color;
            svg {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
        .bell.active {
            color: #28a745;
            svg:hover {
                color: #2c9142;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
        .bell.recursive {
            color: #0dcaf0
        }
        .btn {
            margin: 0 1px;
            padding: 0 0;
        }
        .btn:focus{
            box-shadow: 0 0 0 0;
        }
        .btn:active {
            background-color: #0d6efd;
            border-color: #0d6efd;
        }
        .clock {
            position: absolute;
            width: 138px;
            .hours, .minutes {
                text-align: center;
                font-size: 1.6rem;
                line-height: 1;
                padding: 0 .25rem;
                color: #0d6efd;
                &.warning {
                    background-color: gold;
                }
            }
            .legend {
                width: 20px;
                margin-left: 2px !important;
                .dropdown button {
                    width: 50px;
                    height: 34px;
                    padding: 0 2px;
                    color: #212529;
                    background-color: #e9ecef;
                    border: 1px solid #ced4da;
                }
                .dropdown-toggle {
                    padding: 4px;
                }
                .dropdown-menu.show {
                    min-width: 1rem;
                    width: 60px !important;
                    padding: 0 0;
                    text-align: center !important;
                    .dropdown-item {
                        padding: .25rem;
                    }
                }
            }
        }
    }
    .progress {
        width: 100%;
        height: 1px;
        margin: 10px 0;
    }

    /* Time Control Pannel */
    .timer-control, .clock {
        .input-group-text {
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: .25rem 0 0 .25rem;
        }
        .input-group>.form-control {
            width: 204px;
            height: $timer-control-form-height;
        }
        .btn-group {
            margin-left: auto;
            height: $timer-control-form-height;
            .btn {
                box-shadow: 0 0 0 0;
            }
            .btn-danger:focus{
                background-color: #dc3545;
                border-color: #dc3545;
            }
            .btn-danger:active {
                background-color: #dc3545;
                border-color: #dc3545;
            }
            .btn-secondary:focus{
                background-color: #6c757d;
                border-color: #6c757d;
            }
            .btn-secondary:active {
                background-color: #6c757d;
                border-color: #6c757d;
            }
            .btn-light, .btn-warning, .btn-info {
                border-color: #6c757d;
            }
            .btn-light:hover {
                background-color: #e9ecef;
            }
            button svg {
                vertical-align: text-top;
            }
        }
        .btn-group-sm>.btn {
            font-size: 1rem;
            padding: .35rem .5rem;
        }
    }
}

.dragged {
    background-color: gold;
    opacity: 0.3;
}

.react-icons {
    vertical-align: text-bottom;
    font-size: 1.6em;
    cursor: pointer
}

.pressed {
    background-color: cornflowerblue;
}

#settings .card {
    margin-bottom: .75rem;
    .left-value {
      text-align: right;
    }
    .right-value {
      text-align: left;
    }
    svg {
        height: 0.8rem;
    }
}

#about {
    margin-top: 10px;
}

.info {
    .body {
        font-size: 0.85rem;
        line-height: 1.25;
        .label {
            padding: 0 7px;
            font-family: monospace;
            font-size: larger;
        }
    }
    .lead {
        margin-bottom: 0;
        padding: 1rem;
    }
    hr {
        margin: 10px 0;
        background-color: $timer-border;
        opacity: 1;
    }
}

.card-body {
    padding: .6rem 1.25rem;
    font-size: .9rem;
    .label {
        padding: 0 10px;
        font-family: 'Courier New', Courier, monospace;
    }
}

.smaller {
    font-size: 75%;
}

.small {
    font-size: 70% !important;
    font-weight: 200;
}

.card {
    border-color: $timer-border;
}

.card-header, .card-footer {
    background-color: $timer-color;
    border-color: $timer-border;
}

.hidden {
    display: none;
}

.visible {
    display: inline-block;
}

#version-check {
    font-size: .9rem;
}

.filler.row {
    height: 1rem;
}

#sound-alarm-media {
    width: 160px;
}

// ToggleSwitch
.toggle-switch {
    position: relative;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    &-checkbox {
        display: none;
    }
    &-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 0 solid $menu-button-color-active;
        border-radius: 20px;
        margin: 0;
    }
    &-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: $toggle-switch-size;
            padding: 0;
            line-height: $toggle-switch-size;
            font-size: 14px;
            color: white;
            font-weight: bold;
            box-sizing: border-box;
        }
        &:before {
            content: "";
            text-transform: uppercase;
            padding-left: 10px;
            background-color: $menu-button-color-active;
            color: #fff;
        }
    }
    &-disabled {
        background-color: #ddd;
        cursor: not-allowed;
        &:before {
            background-color: #ddd;
            cursor: not-allowed;
        }
    }
    &-inner:after {
        content: "";
        text-transform: uppercase;
        padding-right: 10px;
        background-color: $menu-button-color-active;
        color: #fff;
        text-align: right;
    }
    &-switch {
        display: block;
        width: 24px;
        margin: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        border: 0 solid $menu-button-color-active;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
        .toggle-switch-inner {
            margin-left: 0;
        }
        .toggle-switch-switch {
            right: 0px;
        }
    }
}